.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  
  .navbar-nav {
    .nav-item {
      padding: 0 15px;
    }
    .nav-link {
      color: $black;
      padding: 0;
      position: relative;
      &:after {
        content: '';
        background: linear-gradient(135.62deg, #FE5B3A 1.06%, #FC2A64 100%);
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: rotate(8deg);
        display: none;
      }
      &.active {
        background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        &:after {
          display: block;
        }
      }
    }
  }
  &.active {
    background: $white;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.16);
  }
  .dropdown-menu {
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.16);
    padding: 0;
    border: none;
    margin: 0 !important;
    border-radius: 0;
    .nav-item {
      padding: 0;
    }
    .nav-link {
      padding: 6px 12px;
      margin: 0 !important;
      color: $black;
      transition: none;
      &:hover {
        background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
        color: $white;
      }
    }
  }
  .dropdown-item {
    padding: 6px 12px;
    &:hover {
      background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
      color: $white;
    }
  }
  .dropdown {
    .dropdown-menu {
      display: none;
    }
    &:hover {
      > .dropdown-menu {
        display: block;
        margin-top: 0.125em;
        margin-left: 0.125em;
      }
    }
  }
  .dropend {
    .dropdown-toggle {
      margin-left: 0.5em;
    }
    &:hover {
      > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
        display: block;
        margin-top: 0.125em;
        margin-left: 0.125em;
      }
    }
  }
}

@media(max-width: 991px) {
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-collapse {
    background: #fff;
    position: fixed;
    top: 60px;
    width: 100%;
    left: -100%;
    padding: 15px;
    height: calc(100% - 60px);
    transition: all 0.4s;
    overflow-y: auto;
    &.show {
      left: 0;
    }
  }
  .navbar {
    .navbar-nav {
      .nav-item {
        padding: 0;
      }
      .nav-link {
        padding: 10px 0;
        display: inline-block;
        &:after {
          transform: none;
          bottom: 0;
        }
      }
    }
    .dropdown-menu {
      box-shadow: none;
      .nav-link {
        padding: 6px 12px;
        display: block;
      }
    }
    .dropend:hover>.dropdown-menu {
      position: static;
    }
  }

  .accordion.menu-accordion {
    .accordion-item {
      border-radius: 6px;
      border: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      .accordion-header {
        .accordion-button {
          background: transparent;
          border: none;
          padding: 12px 0;
          color: $black;
          box-shadow: none;
          &[aria-expanded="true"] {
            &:after {
              background-image: url('../images/minus.svg');
              background-repeat: no-repeat;
              width: 12px;
              height: 3px;
              background-size: 100%;
              transition: none
            }
          }
          &[aria-expanded="false"] {
            &:after {
              background-image: url('../images/plus.svg');
              background-repeat: no-repeat;
              background-size: 100%;
              transition: none;
              width: 12px;
              height: 12px;
            }
          }
        }
      }
      .accordion-body {
        border: 0;
        color: rgba($black, 0.8);
        padding: 0 0 0 12px;
        .accordion-header {
          .accordion-button {
            padding: 0 0 12px;
          }
        }
        .nav-item {
          padding: 0;
          .nav-link {
            padding-top: 0;
          }
        }
      }
      &:has(.accordion-collapse.show) {
        
      }
    }
  }
}

