/* Banner */
.banner-wrapper {
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
  &:after {
    content: '';
    background-image: url('../images/ring-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 75px;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
}
.banner-inner {
  position: relative;
  padding-bottom: 100px;
  &:after {
    content: '';
    background-image: url('../images/banner-strip.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 244px;
    position: absolute;
    bottom: 0;
  }
}
.banner-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    background-image: url('../images/half-circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 50px;
    top: -40px;
  }
  
  .banner-left {
    width: calc(100% - 610px);
    padding-right: 15px;
    position: relative;
    &:after {
      content: '';
      width: 300px;
      height: 300px;
      background: linear-gradient(135.62deg, #FE5B3A 1.06%, #FC2A64 100%);
      opacity: .28;
      filter: blur(100px);
      position: absolute;
      top: 0;
      left: -200px;
    }
  }
  .banner-right {
    width: 525px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }
}

@media(max-width: 991px) {
  .banner-wrapper {
    padding-top: 100px;
    padding-bottom: 30px;
    &:after {
      display: none;
    }
    .heading-wrapper {
      margin-top: 30px;
    }
  }
  .banner-inner {
    padding-bottom: 30px;
  }
  .banner-item {
    &:before {
      display: none;
    }
  }
  .banner-item {
    flex-direction: column-reverse;
    .banner-left {
      width: 100%;
      padding: 0 80px;
    }
    .banner-right {
      width: 100%;
      img {
        width: auto;
        height: 380px;
        margin: auto;
      }
    }
  }
}
@media(max-width: 767px) {
  .banner-item {
    .banner-left {
      padding: 0;
      margin-top: 30px;
    }
    .banner-right {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        margin: auto;
      }
    }
  }
}

/* Rating Group */
.rating-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}
.rating-group {
  background: $white;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  padding: 35px;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    width: 111px;
    height: 111px;
    background: linear-gradient(135.62deg, #FE5B3A 1.06%, #FC2A64 100%);
    opacity: 0.3;
    filter: blur(100px);
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    width: 111px;
    height: 111px;
    background: linear-gradient(135.62deg, #FE5B3A 1.06%, #FC2A64 100%);
    opacity: 0.3;
    filter: blur(100px);
    position: absolute;
    top: 0;
    right: 0;
  }
  ul {
    display: flex;
    li {
      position: relative;
      div {
        width: fit-content;
        text-align: left;
      }
      &:after {
        content: '';
        background: linear-gradient(170deg, rgba(252, 42, 100, 0) 0%, $secondary 49%, rgba(252, 42, 100, 0) 100%);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 2px;
      }
      p {
        background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      &:first-child,  &:last-child {
        width: 25%;
      }
      &:nth-child(2) {
        width: 50%;
        &:before {
          content: '';
          width: 111px;
          height: 111px;
          background: linear-gradient(135.62deg, #FE5B3A 1.06%, #FC2A64 100%);
          opacity: 0.3;
          filter: blur(100px);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
@media(max-width: 991px) {
  .rating-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .rating-group {
    padding: 25px;
    ul {
      li {
        &:first-child, &:last-child {
          width: 30%;
        }
        &:nth-child(2) {
          width: 40%;
        }
      }
    }
  }
}
@media(max-width: 767px) {
  .rating-group {
    ul {
      flex-wrap: wrap;
      li {
        margin-bottom: 15px;
        padding-bottom: 15px;
        div {
          margin: auto;
          text-align: center;
        }
        &:first-child,  &:last-child, &:nth-child(2) {
          width: 100%;
          &:after {
            left: 0;
            top: auto;
            bottom: 0;
            height: 2px;
            width: 100%;
            right: 0;
          }
        }
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
/* end */

/* Benefits */
.benefit-wrapper {
  overflow: hidden;
  padding: 50px 0;
  position: relative;
  &:before {
    content: '';
    background-image: url('../images/ring-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    right: 30px;
    top: 50px;
  }
  &:after {
    content: '';
    background-image: url('../images/half-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
  .card {
    border-radius: 16px;
    padding: 24px;
    position: relative;
    border-color:  rgba(254, 91, 58, 0.2);
    overflow: hidden;
    text-align: center;
    height: 100%;
    img {
      width: 72px;
      height: 72px;
    }
    &:before {
      content: '';
      background: linear-gradient(135.62deg, #FE5B3A 1.06%, #FC2A64 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.05;
    }
    &:hover {
      box-shadow: 0px 0px 52px rgba(252, 48, 95, 0.16);
      border-color:  transparent;
      &:before {
        background: #FFFFFF;
      }
    }
  }
}
@media(max-width: 991px) {
  .benefit-wrapper {
    padding: 30px 0;
    &:before, &:after {
      display: none;
    }
  }
}
@media(max-width: 767px) {
  .benefit-wrapper {
    padding: 40px 0;
    .card {
      h5 {
        font-size: 18px !important;
      }
    }
  }
}
/* End */

/* How it works */
.how-it-works-wrapper {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  .how-it-works-inner {
    background: linear-gradient(133.76deg, rgba(254, 91, 58, 0.05) 1.1%, rgba(252, 42, 100, 0.05) 103.28%);
    position: relative;
    padding: 50px 0;
    &:before {
      content: '';
      background-image: url('../images/half-circle.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 166px;
      height: 150px;
      position: absolute;
      right: 30px;
      top: -50px;
    }
    &:after {
      content: '';
      background-image: url('../images/ring-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 161px;
      height: 139px;
      position: absolute;
      left: 30px;
      bottom: -80px;
    }
  }
  .work-list-img {
    width: 550px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .work-list {
    width: calc(100% - 550px);
    padding-left: 40px;
    .works-list-item {
      display: flex;
      margin-bottom: 20px;
      img {
        margin-right: 15px;
        width: 32px;
        height: 32px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media(max-width: 1199px) {
  .how-it-works-wrapper {
    .work-list-img {
      width: 100%;
    }
    .work-list {
      width: 100%;
      padding: 0;
    }
  }
}
@media(max-width: 991px) {
  .how-it-works-wrapper {
    padding: 30px 0;
    .top-abstract, .bottom-abstract {
      display: none;
    }
    .work-list-img {
      margin-bottom: 50px;
    }
    .how-it-works-inner {
      padding: 60px 0;
      &:before, &:after {
        display: none;
      }
    }
  }
}
@media(max-width: 767px) {
  .how-it-works-wrapper {
    padding: 40px 0;
    .how-it-works-inner {
      padding: 50px 0;
    }
    .work-list {
      .works-list-item {
        p {
          font-size: 16px !important;
          line-height: 22px;
        }
      }
    }
  }
}
/* End */

/* Services */
.service-wrapper {
  overflow: hidden;
  padding: 50px 0;
  position: relative;
  &:before {
    content: '';
    background-image: url('../images/ring-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    right: 30px;
    top: 50px;
  }
  &:after {
    content: '';
    background-image: url('../images/half-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
  .heading-wrapper {
    .abstract-bg {
      padding-left: 42px;
      &:before {
        left: 0;
      }
    }
  }
  .service-header-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .service-slider {
    .slick-list {
      padding: 30px 0;
    }
    &.slider-dots {
      .slick-dots {
        bottom: -20px;
      }
      &.slick-dotted {
        &.slick-slider {
          margin-bottom: 20px;
        }
      }
    }
  }

  .service-slider-item {
    padding: 0 10px;
  }
  .service-card {
    background: linear-gradient(135.62deg, rgba(254, 91, 58, 0.16) 1.06%, rgba(252, 42, 100, 0.16) 100%);
    border-radius: 16px;
    overflow: hidden;
    padding: 1px;
    height: 100%;
    &:hover {
      box-shadow: 0px 0px 52px rgba(252, 48, 95, 0.16);
    }
    .service-card-inner {
      background-color: $white;
      border-radius: 16px;
      padding: 24px;
      height: 100%;
      .service-card-img {
        height: 187px;
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }
      .service-card-details {
        h4 {
          color: $black;
          margin: 20px 0 0;
        }
        .service-card-item {
          display: flex;
          img {
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }
        }
      }
    }
  }
}
@media(max-width: 1199px) {
  .service-wrapper {
    .service-header-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      .heading-wrapper {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media(max-width: 991px) {
  .service-wrapper {
    padding: 30px 0;
    &:before, &:after {
      display: none;
    }
    .heading-wrapper {
      .abstract-bg {
        padding-left: 0;
      }
    }
    .slider-arrow {
      padding: 0;
    }
  }
}
@media (max-width: 767px) {
  .service-wrapper {
    .service-card {
      .service-card-inner {
        .service-card-details {
          h4 {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}

/* Client */
.client-wrapper {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  .client-inner {
    background: linear-gradient(133.76deg, rgba(254, 91, 58, 0.05) 1.1%, rgba(252, 42, 100, 0.05) 103.28%);
    position: relative;
    padding: 50px 0;
    &:before {
      content: '';
      background-image: url('../images/half-circle.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 166px;
      height: 150px;
      position: absolute;
      right: 30px;
      top: -50px;
    }
    &:after {
      content: '';
      background-image: url('../images/ring-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 161px;
      height: 139px;
      position: absolute;
      left: 30px;
      bottom: -80px;
    }
  }
  .heading-wrapper {
    p {
      max-width: 767px;
      margin: auto;
    }
  }
  .client-slick-wrap {
    background: linear-gradient(135.62deg, rgba(254, 91, 58, 0.16) 1.06%, rgba(252, 42, 100, 0.16) 100%);
    border-radius: 16px;
    padding: 1px;
    .client-slick-wrap-inner {
      background: #FFFFFF;
      border-radius: 16px;
      padding: 45px 30px;
    }
    .client-slick-bg {
      background-image: url('../images/slider-bg.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center center;
      padding: 0 0 20px;
    }
  }
  .item-slick {
    text-align: center;
    .profile-avatar {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      overflow: hidden;
      margin: 0 auto 16px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    h4 {
      background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      opacity: 0.8;
    }
    .star-rating {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px -5px 0;
      li {
        padding: 0 5px;
      }
    }
    .with-quot {
      max-width: 677px;
      margin: 24px auto 0;
      position: relative;
      &:before {
        content: '';
        background-image: url('../images/quot.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 36px;
        position: absolute;
        top: -20px;
        left: -40px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .client-wrapper {
    .client-slick-wrap {
      .client-slick-bg {
        background-size: 100%;
      }
    }
  }
}
@media(max-width: 991px) {
  .client-wrapper {
    padding: 30px 0;
    .top-abstract, .bottom-abstract {
      display: none;
    }
    .client-slick-wrap {
      .client-slick-bg {
        background-image: none;
        padding: 0;
      }
    }
    .client-inner {
      padding: 60px 0;
      &:before, &:after {
        display: none;
      }
    }
  }
}
/* End */

/*FAQs*/
.faq-wrapper {
  padding: 50px 0;
  position: relative;
  &:before {
    content: '';
    background-image: url('../images/ring-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    right: 30px;
    top: 50px;
  }
  &:after {
    content: '';
    background-image: url('../images/half-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
}
@media(max-width: 991px) {
  .faq-wrapper {
    padding: 30px 0;
    &:before, &:after {
      display: none;
    }
  }
}
/*FAQs*/

/* success-metrics */
.success-metrics-wrapper {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  .success-metrics-inner {
    background: linear-gradient(133.76deg, rgba(254, 91, 58, 0.05) 1.1%, rgba(252, 42, 100, 0.05) 103.28%);
    position: relative;
    padding: 50px 0;
    &:before {
      content: '';
      background-image: url('../images/half-circle.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 166px;
      height: 150px;
      position: absolute;
      right: 30px;
      top: -50px;
    }
    &:after {
      content: '';
      background-image: url('../images/ring-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 161px;
      height: 139px;
      position: absolute;
      left: 30px;
      bottom: -80px;
    }
  }
  .success-card {
    background: linear-gradient(135.62deg, rgba(254, 91, 58, 0.16) 1.06%, rgba(252, 42, 100, 0.16) 100%);
    border-radius: 16px;
    overflow: hidden;
    padding: 1px;
    height: 100%;
    .success-card-inner {
      background-color: $white;
      border-radius: 16px;
      padding: 30px;
      height: 100%;
      .success-card-img {
        height: 380px;
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }
      .success-card-details {
        h4 {
          background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          margin: 20px 0;
        }
        .success-card-item {
          display: flex;
          img {
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }
        }
      }
    }
    &:hover {
      box-shadow: 0px 0px 52px rgba(252, 48, 95, 0.16);
      background: $white;
    }
  }
}

@media(max-width: 991px) {
  .success-metrics-wrapper {
    padding: 30px 0;
    .top-abstract, .bottom-abstract {
      display: none;
    }
    .success-metrics-inner {
      padding: 60px 0;
      &:after, &:before {
        display: none;
      }
    }
    .success-card {
      .success-card-inner {
        padding: 20px;
      }
    }
  }

}
@media(max-width: 767px) {
  .success-metrics-wrapper {
    .success-card {
      .success-card-inner {
        .success-card-img {
          height: 220px;
        }
      }
      .success-card-details {
        h4 {
          font-size: 20px !important;
          line-height: 24px;
        }
        .text-xl {
          font-size: 16px !important;
        }
      }
    }
  }
}
/* end */

/* Blog Section */
.blog-wrapper {
  overflow: hidden;
  padding: 50px 0;
  position: relative;
  &:before {
    content: '';
    background-image: url('../images/ring-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    right: 30px;
    top: 100px;
  }
  &:after {
    content: '';
    background-image: url('../images/half-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 86px;
    height: 74px;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
  .blog-item {
    .card-img-top {
      border-radius: 12px;
      width: 100%;
      height: 386px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .wishlist {
      width: 44px;
      height: 44px;
    }
    &.blog-item-row {
      display: flex;
      align-items: center;
      .card-img-top {
        width: 267px;
        height: 258px;
      }
      .card-details {
        width: calc(100% - 267px);
        padding-left: 20px;
      }
    }
  }
}
@media(max-width: 1199px) {
  .blog-wrapper {
    .blog-item {
      &.blog-item-row {
        display: block;
        .card-img-top {
          width: 100%;
          height: 258px;
        }
        .card-details {
          width: 100%;
          padding-left: 0;
          margin-top: 15px;
        }
      }
    }
  }
}
@media(max-width: 991px) {
  .blog-wrapper {
    padding: 30px 0;
    &:before, &:after {
      display: none;
    }
  }
  .blog-item {
    h5 {
      font-size: 18px !important;
      line-height: 22px;
    }
  }
}

@media(max-width: 767px) {
  .blog-wrapper {
    .blog-item {
      .card-img-top {
        height: 220px;
      }
    }
  }
}
/* end */


/* contact section */
.contact-wrapper {
  overflow: hidden;
  padding: 100px 0 50px;
  .left-content {
    width: calc(100% - 720px);
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: $white;
    &::before {
      content: '';
      background: linear-gradient(135deg, $primary 0%, $primary 90%, $secondary 100%);;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      position: absolute;
      top: 0;
      right: 0;
      width: 9999px;
      height: 100%;
    }
  }
  .right-content {
    max-width: 720px;
    padding-left: 80px;
  }
}

@media(max-width: 1199px) {
  .contact-wrapper {
    .left-content {
      width: calc(100% - 580px);
    }
    .right-content {
      max-width: 580px;
      padding-left: 40px;
    }
  }
}

@media(max-width: 991px) {
  .contact-wrapper {
    padding: 30px 0;
    .left-content {
      width: 100%;
      background: linear-gradient(135.62deg, $primary 1.06%, $secondary 100%);
      border-radius: 16px;
      padding: 30px;
      margin-bottom: 30px;
      &:before {
        display: none;
      }
    }
    .right-content {
      max-width: 100%;
      padding-left: 0;
    }
  }
}
/* end */
