$black: #00070E;
$white: #FFFFFF;
$primary: #FE5B3A;
$secondary: #FC2A64;

$gothamFont: 'GothamRnd-Book';
$weight-300: 'GothamRnd-Light';
$weight-500: 'GothamRnd-Medium';
$weight-700: 'GothamRnd-Bold';

$fontSize-60: 60px;
$fontSize-48: 48px;
$fontSize-32: 32px;
$fontSize-24: 24px;
$fontSize-20: 20px;
$fontSize-18: 18px;
$fontSize-16: 16px;
$fontSize-14: 14px;
